/* ---------- Flexbox Main Navigation Bar ---------- */

/* -------- Main Styles -------- */

.main-header,
.nav {
    display: flex;
    flex-direction: column;
}

.main-header {
    padding-top: 2em;
    background-color: purple;
}

.site-logo {
    width: 3.125em;
    align-self: center;
    margin-right: 6%; /* might want to comment this out */
}

.nav {
    margin-top: 1.5em;
}

.nav a {
    display:block;
    color: black;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center;
    padding: .4em;
    border-bottom: 1px solid #ebecec;
    text-decoration: none;
}

.nav a:hover {
    color: white;
    border-bottom-color: white;
}

/* --------------- Media Queries --------------- */

@media (min-width: 769px) {
    .main-header {
        height: 15em;
        justify-content: flex-end;
    }
    .site-logo {
        width: 8.75em;
        justify-content: center;
        margin-right: 0;
    }
    .nav {
        margin-top: 3em;
        flex-direction: row;
        justify-content: center;
    }
    .nav a {
        border-bottom-color: transparent;
    }
}

@media (min-width: 1025px) {
    .main-header {
        flex-direction: row;
        margin-bottom: 0;
        height: 6.27em;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;
    }
    .site-logo {
        margin-right: auto;
        margin-bottom: auto;
        position: absolute;
        top: 0;
        left: 0;
    }
    .nav {
        margin-top: 0;
        margin-right: 10%;
        align-self: center; 
    }

    .nav a {
        font-size: 1.25em;
    }
    .nav li {
        margin-left: .65em;
        margin-right: .65em;
    }

    body {
        padding-top: 100px;
    }
}



















