/* --------------- Basic Styles --------------- */

/* ----- Type Selectors ----- */


body {
    margin: 0;
    font: 1em/1.25 Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 3em;
    color: ;
}

h3 {
    font-weight: normal;
    font-size: 1.25em;
    color: ;
}

p {
    font-size: 1.25em;
    line-height: 1.25;
    color: ;
}

/* ----- id Selectors ----- */

#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: solid 10px black;
}

/* ----- Class Selectors ----- */

.aboutme {
    text-align: left;
    width: 60%;  /* look here */
}

.main-heading {
    /* line-height: .1; */
}


















/* ---------- Grid Layout ---------- */

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas:
        "header nav"
        "main main"
        "footer footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}






























