/* --------------- Basic Styles --------------- */

/* ----- Type Selectors ----- */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: normal 1em/1.5 Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    margin-bottom: 0;
    font-size: 3em;
    color: ;
}

h3 {
    margin-top: 0;
    margin-bottom: 3.125em;
    font-weight: normal;
    font-size: 1.25em;
    color: ;
}

p {
    font-size: 1.25em;
    line-height: 1.5;
    color: ;
}

/* ----- id Selectors ----- */

#main-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: purple;

}

/* ----- Class Selectors ----- */

.aboutme {
    text-align: left;
    width: 60%;  
    align-items: center;
    margin: auto;
}

.main-heading {
    text-transform: uppercase;
}

.sticky-footer {
    min-height: calc(100vh - 12.75em);
}

.contact-footer {
    min-height: calc(100vh - 18.25em);
}

.main-heading {
    
}

/* -------- Contact Page Styles -------- */

.contact-heading {
    text-align: center;
}

.contact-form {
    text-align: center;
    margin-top: 5%;
}

#name,
#email,
#message,
#submit {
    display: block;
    margin: auto;
    margin-bottom: 1em;
}

#name,
#email {
    height: 3em;
    width: 30%;
}

#message {
    height: 18em;
    width: 40%;
}









/* ---------- Grid Layout ---------- */

/* .grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas:
        "header nav"
        "main main"
        "footer footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
} */






























